<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, removeItem the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <title>OneDrive</title>

    <link href="lib/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <script type="text/javascript" charset="utf-8" src="lib/IndexedDBShim.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
</head>
<body ng-controller="ngCloudDriveCtrl"  ontouchstart="" >
    <div class="topPanel" ></div>
    <!--<button class="btn" ng-click="check()" ></button>-->
    <div ng-if='showSignInButton' class="loginPnel" >
        <button type="button" ng-click="StartLogin('OneDrive')" class="btn btn-primary loginButton" role="button" >OneDrive</button>
        <button type="button" ng-click="StartLogin('GoogleDrive')" class="btn btn-primary loginButton" role="button" >GoogleDrive</button>
    </div>
<!--    <h1 ng-if="driveManager && showSignInButton" class="panel find">
    &lt;!&ndash;<h1 ng-if="driveManager && (showSignInButton || search)" class="panel find">&ndash;&gt;
        <input class="textEdit"  class="pull-left" type="text" id="searchField"/>
        <button class="btnFind btn btn-primary pull-right" ng-click="doSearch()">find</button>
	</h1>-->
    <div ng-if="driveManager && showSignInButton" class="input-group find">
        <input id="searchField" type="text" class="form-control textEdit"/>
          <span class="input-group-btn">
            <button  ng-click="doSearch()" class="btn btn-primary btnFind " type="button">Find</button>
          </span>
    </div>
    <div ng-if="filesAndFolders!=null" class="container user-info">
        <div>
            <h3 class="pull-left" >
                <button type="button" ng-click="toPreFolder()" class="btn btn-primary backButton" role="button" >&larr; Back</button>
            </h3>
            <h3 ng-if="!search" class="pull-right" >
                {{userName}}
                <button type="button" ng-click="signOut()" class="btn btn-primary" role="button" >Sign out</button>
            </h3>
        </div>
    </div>
    <div id="id" class="container" >
        <div class="panel container" ng-if="filesAndFolders!=null" >
            <h1 ng-if="!search" >{{getCurrentDirectory()}}</h1>
            <h1 class="noSearchResult" ng-if="ShowNoSearchResult">No search result</h1>
            <h1 ng-if="search && !ShowNoSearchResult">Search result</h1>
            <div class="items" ng-repeat="obj in filesAndFolders " >
                <div id="item" tabindex="{{tabindex()}}" class="panel panel-body item" ng-click="displayFolder(obj, 'forward')" >
                    <div class="item-div" style="height: 100%; width:100%"></div>
                    <div>
                        <div role="button" class="quad pull-left"  ng-style="getStyleForType(obj)">
                            <h3 class="files-count" ng-if="obj.count !== undefined">{{obj.count}}</h3>
                        </div>
                        <h2 class="clip">{{obj.name}}</h2>
                        <h3 class="masthead-lead">{{generateDateTime(obj.updated_time)}}</h3>
                        <div class="size" ><h3 class="masthead-lead" ng-if="obj.size" >{{obj.size}} byte</h3></div>
                    </div>
                    <div ng-if="(obj.type!='folder') && (obj.type!='album')" class="buttonsBar" >
                        <div ng-if="obj.state == 2" class="progress active" >
                            <div class="progress-bar"  role="progressbar" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" ng-style="{width: obj.progress +'%'}"></div>
                        </div>
                        <input type="button" value="download" class="btn btn-primary " ng-if="obj.state==0 && obj.source" ng-click="onClickDownloadButton(obj)" />
                        <input type="button" value="open" class="btn btn-primary" ng-if="obj.state==1 || (obj.embedLink && !obj.source)"  ng-click="openFile(obj)"/>
                        <input type="button" value="reload" class="btn btn-primary" ng-if="obj.state==1"  ng-click="onClickDownloadButton(obj)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.js" ></script>
    <script src="lib/bootstarp/js/bootstrap.min.js"></script>
    <script src="js/cloudStorage.js"></script>
    <script src="js/storageManager.js"></script>
    <script src="js/oneDrive.js"></script>
    <script src="js/googleDrive.js"></script>
    <script src="js/oneDriveDb.js"></script>

    <script type="text/javascript" src="js/ngOneDriveCtrl.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/index.js"></script>
</body>
</html>
